
<div class="row bg-light"> 

  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="filterText" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search By Brand">
    </div>

    <div class="mb-3 col-md-4">
      <label for="filterText2" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText2" class="form-control" id="filterText2" placeholder="Search By Color">
    </div>

  </div>
  
  <div class="alert alert-primary" *ngIf="filterText || filterText2">
    {{filterText || filterText2}} searched
  </div>
        <div *ngFor="let carDetail of carDetails |filterPipe:filterText2" class="card mx-3 mb-3 mt-3" style="width: 18rem;">
          
            <img class="card-img-top" src="https://localhost:7252/uploads/images/{{getCarImage(carDetail)}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{carDetail.brandName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item ">Car Color: {{carDetail.colorName}}</li>
              <li class="list-group-item">Daily Price: {{carDetail.dailyPrice |vatAdded:18 |currency}}</li>
              <li class="list-group-item">Details: Model Year: {{carDetail.modelYear}}<br> {{carDetail.description}} Engine</li>
            </ul>
            <div class="card-body">
              <a href="/carimages/getbycarid/{{carDetail.carId}}" class="btn btn-primary mx-3">Details</a>
              <button *ngIf="alreadyAdded(carDetail) else carAddedAlready" (click)="addToCart(carDetail)" type="button" class="btn btn-success">Add to Cart</button>
              <ng-template #carAddedAlready>
                <button type="button" class="btn btn-success" (click)="alreadyAddedMessage()">Add to Cart</button>
              </ng-template>
            </div>
          </div> 
             
</div>

